@model Customer
@{
    ViewData["Title"] = "Withdraw";
}

<div>
    <h1 class="display-4 mb-4 pb-3 border-bottom">Withdraw</h1>

    <h3 class="mb-3">Your Accounts</h3>
    <table class="table">
        <tr>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th></th>
        </tr>
        @foreach(var account in Model.Accounts) {
            <tr>
                <td>@account.AccountNumber</td>
                @if(account.AccountType == "S")
                {
                    <td>Savings</td>
                } 
                else if(account.AccountType == "C")
                {
                    <td>Checking</td>
                }
                <td>@($"{account.Balance:C}")</td>
                <td>
                    <a class="btn btn-primary"
                        asp-action="Withdraw" asp-route-id="@account.AccountNumber">Select</a>
                </td>
            </tr>
        }
    </table>
</div>